@import "../var/var.less";

html,body  {
	background-image: url('../images/544750.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: @height;
	font-family: @font_family_1;
}
.type-824{
	padding-top: 118px;
.container {
	height: @height;
	align-content: center;
}
.card {
	height: @width-heigh + 270;
	margin-top: auto;
	margin-bottom: auto;
	width: @width-heigh + 300;
	background-color: @background_color_1 !important;
}
.social_icon {
	span i {
		font-size: 60px;
		margin-left: @margin-padding - 90;
		color: @color_1;
		margin-top: @margin-padding - 87;
		&:hover {
			color: @color_2;
			cursor: pointer;
		}
	}
	position: absolute;
	right: 20px;
	top: -45px;
}
.card-header {
	h3 {
		color: @color_2;
	}
}
.input-group-prepend {
	span {
		width: @width-heigh - 50;
		background-color: @background_color_2;
		color: @color_3;
		border: 0 !important;
	}
}
input {
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 0 !important;
	}
}
.remember {
	color: @color_2;
	input {
		width: @width-heigh - 80;
		height: @width-heigh - 80;
		margin-left: @margin-padding - 85;
		margin-right: @margin-padding - 95;
	}
}
.btn-login {
	color: @color_3;
	background-color: @background_color_2;
	width: @width-heigh;
	margin-left: @margin-padding + 26;
	&:hover {
		color: @color_3;
		background-color: @background_color_3;
	}
}
.links {
	color: @color_2;
	a {
		margin-left: @margin-padding - 96;
		text-decoration: none;
	}
}
i{
	padding-left: @margin-padding - 94;
}
@media only screen
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape){ 
	.card {
		height: 80%;
	}
	
}
@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: Portrait){ 
	.btn-login {
		margin-left: @margin-padding + 10;
		
	}
	
}
}
