@import "../var/var.less";
.type-1171{   
   
    .content5{
        color: @color;
        font-size:@font-size - 3;
        a {
            color: @color;
            text-decoration: none;
        }
        .x_panel {
            width: @width;
            padding: 10px 17px;
            display: inline-block;
            background: @color-1;
            border: 1px solid @color-2;
            opacity: 1;
        }
        .x_title {
            border-bottom: 2px solid @color-2;
            padding: 1px 0 6px;

        }
        h2 {
            @h;
            
        }
        h3 {
            @h;
            padding-top: @padding-margin + 30;
            width: @width;
        }


        .panel_toolbox>li {
            float: left;
            cursor: pointer;
        }
        .panel_toolbox>li>a {
            padding: @padding-margin - 5;
            color: @color;
            font-size: @font-size - 2;
        }
        .x_content {
            padding: 0 5px 6px;
            float: left;
            clear: both;
            margin-top: @padding-margin + 17;
            width: @width;
            h4 {
                font-size: @font-size;
                font-weight: @font-weight - 200;
            }
        }
        table.countries_list td {
            padding: 0 20px;
            line-height: 30px;
            border-top: 1px inset @color-2;
        }

        ul{
            padding: 0px 9px;
        }
        ul.to_do li {
            background: @color-1;
            border-radius: 3px;
            position: relative;
            padding: @padding-margin - 9;
            margin-bottom: @padding-margin - 5;
            list-style: none;
        }
        .flat {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            width: @width-height;
            height: @width-height;
            border: none;
            cursor: pointer;
        }
        p{
            margin-top: @padding-margin;
            margin-left: @padding-margin - 5;
            padding: 0;
        }
        .degrees:after {
            content: "o";
            top: -10px;
            font-size:@font-size;
            font-weight: @font-weight;
            position: relative;
        }
        .daily-weather .day {
            font-size: @font-size - 2;
            border-top: 2px solid @color;
            text-align: center;
            border-bottom: 2px solid @color;
            padding: 5px 0;
        }
        h5{
            text-align: center;
        }
        .countreis{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;   
            width: @width;
        }
        ul .dropdown-menu{
            left: @left - 109;
        }
        
        .world{
            background-color: #fff !important;
            margin-left: -6px !important;
           
        }   
        
    } 
}
@media (max-width: 1200px)
{
    .col-md-4 h2{
        text-align: center;
    }

}

@media (max-width: 768px){
    
    ul{
        padding: 0px 9px;
    }
    h3 {
        margin-left: @padding-margin + 2 !important;
        margin-top: @padding-margin + 28 !important;
       
        overflow: hidden;   
        width: @width - 21;
    }
    .geo{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: @width - 40;  
    }
    .countries_list{
        margin-left: @padding-margin + 81;
    }
    .map{
        left: @left - 4 !important;
    }
}
@media (max-width: 640px){
    .navbar-right{
        float: right;
        margin: 0 -15px;
    }
    .weather-text h3{
        padding: 4px !important;
        
    }
    h3 {
        margin-left: @padding-margin + 53 !important;
        margin-top: @padding-margin - 53 !important;
       
        overflow: hidden;   
        width: @width - 21;
    }
    .geo{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
        width: @width - 35;  
    }
    .map{
        left: @left - 4 !important;
    }
    .countries_list{
        margin-left: @padding-margin - 7 !important;
    }
}

@media (max-width: 1233px){
  
    h3 {
        margin-left: @padding-margin - 5;
    margin-top: @padding-margin + 32 ;
    overflow: hidden;
    width: 113%;
    }
    .geo{
        margin-left: @padding-margin - 12 !important;
    margin-top: @padding-margin-6 !important;
    overflow: hidden;
    width: 70%; 
    }
    .map{
        left: @left - 4 !important;
    }
    .countries_list{
        margin-left: @padding-margin + 100;
    }
}
    





