.type-1171 .content5 {
  color: #73879C;
  font-size: 13px;
}
.type-1171 .content5 a {
  color: #73879C;
  text-decoration: none;
}
.type-1171 .content5 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-1171 .content5 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 0 6px;
}
.type-1171 .content5 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.type-1171 .content5 h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 40px;
  width: 100%;
}
.type-1171 .content5 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-1171 .content5 .panel_toolbox>li>a {
  padding: 5px;
  color: #73879C;
  font-size: 14px;
}
.type-1171 .content5 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 27px;
  width: 100%;
}
.type-1171 .content5 .x_content h4 {
  font-size: 16px;
  font-weight: 100;
}
.type-1171 .content5 table.countries_list td {
  padding: 0 20px;
  line-height: 30px;
  border-top: 1px inset #E6E9ED;
}
.type-1171 .content5 ul {
  padding: 0px 9px;
}
.type-1171 .content5 ul.to_do li {
  background: #fff;
  border-radius: 3px;
  position: relative;
  padding: 1px;
  margin-bottom: 5px;
  list-style: none;
}
.type-1171 .content5 .flat {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.type-1171 .content5 p {
  margin-top: 10px;
  margin-left: 5px;
  padding: 0;
}
.type-1171 .content5 .degrees:after {
  content: "o";
  top: -10px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.type-1171 .content5 .daily-weather .day {
  font-size: 14px;
  border-top: 2px solid #73879C;
  text-align: center;
  border-bottom: 2px solid #73879C;
  padding: 5px 0;
}
.type-1171 .content5 h5 {
  text-align: center;
}
.type-1171 .content5 .countreis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.type-1171 .content5 ul .dropdown-menu {
  left: -99px;
}
.type-1171 .content5 .world {
  background-color: #fff !important;
  margin-left: -6px !important;
}
@media (max-width: 1200px) {
  .col-md-4 h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  ul {
    padding: 0px 9px;
  }
  h3 {
    margin-left: 12px !important;
    margin-top: 38px !important;
    overflow: hidden;
    width: 79%;
  }
  .geo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
  }
  .countries_list {
    margin-left: 91px;
  }
  .map {
    left: 6px !important;
  }
}
@media (max-width: 640px) {
  .navbar-right {
    float: right;
    margin: 0 -15px;
  }
  .weather-text h3 {
    padding: 4px !important;
  }
  h3 {
    margin-left: 63px !important;
    margin-top: -43px !important;
    overflow: hidden;
    width: 79%;
  }
  .geo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 65%;
  }
  .map {
    left: 6px !important;
  }
  .countries_list {
    margin-left: 3px !important;
  }
}
@media (max-width: 1233px) {
  h3 {
    margin-left: 5px;
    margin-top: 42px;
    overflow: hidden;
    width: 113%;
  }
  .geo {
    margin-left: -2px !important;
    margin-top:  !important;
    overflow: hidden;
    width: 70%;
  }
  .map {
    left: 6px !important;
  }
  .countries_list {
    margin-left: 110px;
  }
}
