html {
  background-color: #f3f3f4;
}
.type-1165 {
  font-family: 'OpenSans';
  overflow: hidden;
}
.type-1165 .size {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  text-decoration: none;
}
.type-1165 .div {
  display: inline-block;
}
.type-1165 .logo-1 {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 0;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.type-1165 h2 {
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 2px;
}
.type-1165 .info-af-title {
  display: flex;
}
.type-1165 .rv {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 9px;
}
.type-1165 .rv a {
  color: #000;
  opacity: 1.2;
}
.type-1165 .rv a:hover {
  text-decoration: none;
  color: #fc0;
}
.type-1165 .star i {
  color: #fc0;
}
.type-1165 .sku {
  padding-left: 10px;
}
.type-1165 .sku span {
  opacity: 1.2;
  font-weight: bold;
}
.type-1165 .logo {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 0;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.type-1165 .logo i:hover {
  color: #fc0;
}
.type-1165 .logo .fb {
  display: inline-block;
}
.type-1165 .logo .fb a {
  background: #1b4e9b;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  text-decoration: none;
}
.type-1165 .logo .twitter {
  display: inline-block;
}
.type-1165 .logo .twitter a {
  background: #00aeef;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  text-decoration: none;
}
.type-1165 .logo .gplus {
  display: inline-block;
}
.type-1165 .logo .gplus a {
  background: #f70a0a;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  text-decoration: none;
}
.type-1165 .logo .rss {
  display: inline-block;
}
.type-1165 .logo .rss a {
  background: #f86a02;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 1px;
  text-decoration: none;
}
